<div class="task-top-bar">
    <ul class="nav nav-tabs mb-10">
        <li class="nav-item pointer" {{action "filterByPriority" -1 bubbles=false}}>
            <a class="nav-link {{if (eq filter.priority -1) 'active'}}">All</a>
        </li>
        <li class="nav-item pointer" {{action 'filterByPriority' 3 bubbles=false}}>
            <a class="nav-link {{if (eq filter.priority 3) 'active'}}" href="#"><span class="task-priority bg-danger"></span></a>
        </li>
        <li class="nav-item pointer" {{action 'filterByPriority' 2 bubbles=false}}>
            <a class="nav-link {{if (eq filter.priority 2) 'active'}}" href="#"><span class="task-priority bg-secondary"></span></a>
        </li>
        <li class="nav-item pointer" {{action 'filterByPriority' 1 bubbles=false}}>
            <a class="nav-link {{if (eq filter.priority 1) 'active'}}" href="#"><span class="task-priority bg-success"></span></a>
        </li>
        <div class="nav-item pointer dropdown ml-auto">
             {{pagination-bar on-page-change=(action 'onTaskPageChange') pagination=pagination class='float-right'}}
            <button type="button" class="btn btn-icn btn-outline-secondary float-right mr-15">Expoer as CVS <i class="material-icons">cloud_download</i></button>
            <div class="btn-group mr-15">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" {{action "toggleParam" 'hasTodoTasks' bubbles=false}}><i class="material-icons material-icons-done {{if hasTodoTasks 'active'}}">done</i>Show ongoing tasks</a>
                    <a class="dropdown-item" {{action "toggleParam" 'hasDoneTasks' bubbles=false}}><i class="material-icons material-icons-done {{if hasDoneTasks 'active'}}">done</i>Show done tasks</a>
                    <a class="dropdown-item" {{action "toggleParam" 'hasArchieveTasks' bubbles=false}}><i class="material-icons material-icons-done {{if hasArchieveTasks 'active'}}">done</i>Show archieved tasks</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" {{action "toggleSort" 'dead_line' bubbles=false}}><i class="material-icons material-icons-done {{if (eq sort_by 'dead_line') 'active'}}">done</i>Sort by deadline</a>
                    <a class="dropdown-item" {{action "toggleSort" 'created_at' bubbles=false}}><i class="material-icons material-icons-done {{if (eq sort_by 'created_at') 'active'}}">done</i>Sort by created time</a>
                    <a class="dropdown-item" {{action "toggleSort" 'priority' bubbles=false}}><i class="material-icons material-icons-done {{if (eq sort_by 'priority') 'active'}}">done</i>Sort by priority</a>
                </div>
            </div>
        </div>
    </ul>
</div>
<div class="row">
{{#each model as |task|}}
    {{task-item task=task classNames='col-4' on-delete=(action 'refreshModel')}}
{{/each}}
</div>

<div class="add btn btn-primary floating-btn bottom-right" {{action 'newTask'}}>
    <i class="material-icons">edit</i>
</div>
{{outlet}}

{{#dialog-box dialogBoxModel=createTaskDialog}}
<div class="form-group">
    <label>Description <span class="mandatory">*</span></label>
    {{textarea value=createTaskModal.description class="form-control" placeholder="Description"}}
</div>
<div class="form-group">
    <label>Deadline</label>
    {{input type='date' value=createTaskModal.dead_line class="form-control" placeholder="Deadline"}}
</div>
<div class="form-group">
    <label>Remind at</label>
    {{input type='date' value=createTaskModal.reminder_date class="form-control" placeholder="Remind ad"}}
</div>
<div class="form-group">
    <div>Priority <span class="pl-10">{{task-priority task=createTaskModal saveOnChange=false}}</span></div>
</div>
{{/dialog-box}}