<div class="card task-item">
  <div class="card-body">
    <div>
        <p>{{task.description}}</p>
    </div>
  </div>
  <div class="p-10">
    <small class="float-left">Created at : {{date-format task.created_at}}</small>
    <div class="float-right">
      {{task-priority task=task saveOnChange=true}}
    </div>
    <i class="material-icons float-right material-icons-sm" {{action 'delete'}} style="padding: 2px 10px;">delete</i>
  </div>
</div>
{{yield}}

{{!-- 

 description: DS.attr('string'),
    priority: DS.attr('number'),
    admin: DS.attr('boolean'),
    dead_line: DS.attr('date'),
    reminder_date: DS.attr('date'),
    done_state: DS.attr('number'),
    created_at: DS.attr('date'),
    updated_at: DS.attr('date') --}}